/* CSS file to define colors */

:root{
    ---lightred:#FFDBD9;
    ---nicegreen: #7BDAA1;
    ---finished: #8fff8f;
    ---upcoming: #ff8f8f;
    ---ongoing: #FCE07C;
    ---linegray: #808080;
    ---lightlinegray: #BFBFBF;
---reddishgray: #ebe3e2;
}

