/* CSS for each individul writings/news page for both eng and dhi */

#thumbnail-section.--dhivehi *:not(.thumbnail__authorclass.--dhivehi) {
    font-family: MV Mag Round;

}
#writing-section.--dhivehi p {
    font-family: MV Waheed;
    font-size: 1.3rem;
    text-indent: 4rem;
}

#thumbnail-section {
    margin: 4rem 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumbnail__image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    border-radius: 45px;
}
.thumbnail__image.--mobile {
    display: none;
}
.category__holder {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.thumbnail__category:before {
    content: '';
    padding: 0.2rem 1rem;
    border-radius: 20px;
}

.thumbnail__title {
    font-size: 3rem;
    text-transform: capitalize;
    align-self: center;
    font-family: Outfit Bold;
}


.thumbnail__author{
    margin-right: 0.5rem;
}



.line {
    width: 100%;
    height: 10px;
    background-color: var(---linegray);
    border-radius: 20px;
    margin-top: 0.5rem;
}
/* ------------- */

#writing-section{
    margin: 0 20% 5rem 20%;
}

.paragraph{
    color: rgb(51, 51, 51);
    text-align: justify;
    font-size: 1.2rem;
    text-indent: 2rem;
}

.subheading{
    margin: 3rem 0;
    font-family: Outfit Semibold, Faruma;
}
#writing-section.--dhivehi p + #writing-section.--dhivehi p {
    margin: 2rem 0;
}
.paragraph + .paragraph {
    margin: 1rem 0;
}

@media (max-width:750px){
    #writing-section {
            margin: 0 12.5% 5rem 12.5%;
        }
    .thumbnail__image{
        display: none;
    }
    .thumbnail__image.--mobile{
        display: block;
    }

}