/* CSS for each individual events page */
:root {
    ---backgroundImg: url('Images/Eachevents/upshift.png');
}

#eventfocusSection {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Images/Eachevents/upshift.png');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 32.8px 10px rgba(0, 0, 0, 0.25);

}

.focusevent__text {
    color: white;
    text-align: center;
}

.focusevent__title {
    font-family: Outfit Bold;
    font-size: 4vw;
    margin-top: 20vh;
}

.focusevent__date {
    font-size: 1.1vw;
    margin-bottom: 8vh;
}


.focusevent__label {
    border-radius: 5px;
    padding: 1vh 2vw;
    width: 4vw;
    margin: auto;
    color: black;
}

.focusevent__label.--finished {
    background-color: var(---finished);
}

.focusevent__label.--ongoing {
    background-color: var(---ongoing);
}

.focusevent__label.--upcoming {
    background-color: var(---upcoming);
}

.focusevent__description {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    padding: 2rem 1rem;
    margin: 12vh 12.5% 0 12.5%;
}

/* ------------------------ */
#eventdetailsSection {
    margin: 2vh 7.5% 0 7.5%;
}

.quick-access-toolbar {
    display: flex;
    gap: 1rem;
    overflow: hidden;
}
.name-organizer__holder{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    min-width: fit-content;
    border-right: 5px solid var(---linegray);
    padding: 0.5rem 1rem;
}
.event__name {
    font-family: Outfit Semibold;
    font-size: 2vw;
}

.event__organizer {}

.scrollable-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
   overflow: auto;
   cursor: grab;
}
.scrollable-bar::-webkit-scrollbar{
    display: none;
}
.album__quicklink{
    text-decoration: none;
    min-width: fit-content;
    white-space: nowrap;
}

.line {
    background-color: var(---linegray);
    border-radius: 20px
}

.line.--vertical {
    width: 5px;
    height: 4rem;
}


.horizontallines__container {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line.--horizontal{
    height: 4px;
}

.line.--middleline {
    width: 40%;
}

.line.--outerlines {
    width: 20.5%;
}