/* CSS of everything in the homepage */
#bannerSection {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180.05deg, rgba(176, 29, 38, 0.36) 2.08%, rgba(176, 29, 38, 0.36) 9.91%, rgba(255, 0, 15, 0.36) 31.44%, rgba(236, 151, 156, 0.36) 59.82%, rgba(255, 255, 255, 0.43) 99.95%),
        url('Images/banner-image.jpg');
    background-size: cover;
    background-position: center;
}

.banner__nav {
    display: flex;
    justify-content: space-between;
}

.banner__logo {
    width: 11rem;
    padding: 1rem;
}

.banner__linksholder {
    margin: auto;
}

.banner__links {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    margin: 0 2.5rem;
    position: relative;
}
.banner__links:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width ease-in-out 0.25s;
}
.banner__links:hover:before{
    width: 100%;
}
.banner__socialsholder {
    width: 11rem;
    justify-content: center;
    margin-top: 5px;
}
.banner__sociallinks{
    margin: 0 10px;
}

/* ------------------------------------------------- */


.quickfacts__rectangle{
    background-color: white;
    height: 20rem;
    border-radius: 45px;
    justify-content: center;
    transform: translateY(-7.5rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
    margin: 0 7.5%;
}

.quickfact__holder{
    justify-content: space-between;
    width: 85%;
}
.quickfact__holder.--textholder{
    margin-top: 1rem;
}
.quickfact__text {
    font-family: Outfit Semibold;
    font-size: 1.5rem;
}

.quickfact__holder.--imageholder {
    margin-top: 1rem;
}
/* To centralize the text with icons */
.quickfact__holder.--textholder :nth-child(3) {
    margin-right: -30px;
}
.quickfact__holder.--textholder :nth-child(4){
    margin-right: 30px;
}

/* -------------------------------------------------- */

#infoSection {
    margin: 0 7.5%;
}