#main-writing-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 7.5%;
    gap: 1rem;
}
.mainwriting__title{
    font-family: Outfit Bold;
    font-size: 2rem;
}
.mainwriting__img{
    width: 500px;
    border-radius: 20px;    
}

.mainwriting__textcontainer{
    display: flex;
    justify-content: center;
    height: 350px;
    flex-direction: column;
}

.mainwriting__description{
}

/* breaker */
.line{
    height: 10px;
    background-color: #808080;
    border-radius: 4.19px;
    margin: 4rem 7.5%;
    }

.button-div{ 
    margin: 0 7.5%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 4rem;
}
.button{
    border-radius: 33px;
    font-weight: 650;
    letter-spacing: 1px;
    color: #000000;
    border: none;
    text-transform: capitalize;
    padding: 0.5rem 2rem;
}
.middle-school{
    background-color: #8ecae6;
}

.lower-secondary{
    background-color: #ff8fab;

}

.higher-secondary{
    background-color: #c7d24b;
}

.featured-writings-title-container{
    display: block;
    height: 36px;
    width: auto;
    margin-top: 15px;
    margin-left: 40px;
}

.featuredwritings__title{
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #351e00;
}

.featuredwritings__underline{
    height: 5px;
    width: 105px;
    border-radius: 10px;
    background-color: #c06000;
    margin-left: 40px;

}

.featuredcontainer{
    margin: 2rem 7.5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow: auto;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

}

.featuredcontainer__card{
    height: 100%;
    width: 250px;
    background-color:#f5d3d8 ;
    border-radius: 15px;
}

.featuredcontainer__image{
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
    width: 214px;
    height: 219px;
    border-radius: 15px;
    display: cover;

}

.featuredcontainer__title{
    margin:18px ;

}

.recent-works-container{
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 1 / 4;
}

.recent-works{
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #351e00;
    margin-left: 40px;

}

.recent-works-underline{
    height: 5px;
    width: 125px;
    border-radius: 10px;
    background-color: #c06000;
    margin-left: 40px;

}

.recent-works-section{
    height: 676px;
    margin: 2rem 7.5%;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    justify-items: center;
    align-items:   center;
}

.recentworks__card{
    border-radius: 15px;
    background-color:#bacd8e ;
    /* border: 2px solid pink; */
    height: 100%;
    width: 250px;
}

/* Laptop 1024px */
@media (max-width:1025px){
    .featuredcontainer{
        width: fit-content;
        margin-bottom: 3rem;
    }

    
    .featuredcontainer__card{
        width: 100%;
    }

    .featuredcontainer__image{
        width: 85%;
    }


    .recent-works-section{
        width: fit-content;
        margin-bottom: 3rem;
    }
  
    .recentworks__card{
        width: 100%;
    }

}

/* tablet 768px */
@media (max-width:769px){
    .mainwriting{
        grid-template-columns: repeat(1, auto);
        margin: 4rem ;
    }

    .mainwriting__img{
        width: 100%;
    }

    .featuredcontainer{
        margin-bottom: 2rem;
        height: auto;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    .recent-works-section{
        grid-template-columns: repeat(3,1fr);
        height: auto;

    }

}

/* mobile Large */
@media (max-width: 426px){
    .mainwriting{
        margin: auto;
        width: 50%;
        justify-content: center;
        text-align: center;

    }

    .mainwriting__img{
        width: 360px;

    }

    .button-div{
        margin-left: 30px;
    }

    .middle-school, .lower-secondary, .higher-secondary{
        width: 110px;
        font-size: .8rem;
    }
   
    .featuredcontainer{
        margin-bottom: 2rem;
        grid-template-columns: repeat(2,1fr);
    }

    .featuredcontainer__title{
        font-size: .85rem;
    }

    .recent-works-section{
        grid-template-columns: repeat(2,1fr);

    }
}

/* mobile medium */
@media (max-width: 376px){
    .mainwriting{
        width: auto;
        margin: 1.1rem;
        text-align: center;

        
    }

    .mainwriting__img{
        width: 100%;
        height: 100%;
    }


}


/* mobile small */
@media (max-width: 321px){
   .mainwriting{
    margin: 4rem 7.5%;
    width: 100%;
    text-align: center;
   }

   .line{
   width: 100%;
   margin: 1rem;
   }

   .button-div{
    width: 100%;
    margin: 1rem;
   }


   .featuredcontainer{
    width: 100%;
   }

   .recent-works-section{
    width: 100%;
   }
}