@import url(fonts.css);
@import url(colors.css);
/* CSS file to add classes that will be used in all HTML pages, like Navbar, Footer */

* {
    margin: 0;
    color: black;
    font-family: Outfit, Faruma;
}

/* Some Quick classes for usually re-used things */
.flex-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-parent-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ----------------------- */
/* Navbar */
#navbar {
    background-color: var(---lightred);
    display: flex;
}

.navbar__alltext {
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar__linksholder {
    display: flex;
    margin-right: 2rem;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.navbar__logocontainer {
    display: flex;
    justify-content: left;
    width: 140%;
}

.navbar__logo {
    text-decoration: none;
}

.navbar__logo#--image {
    width: 3.5rem;
    height: 3.5rem;
    padding: 10px;
}

.navbar__logo.--text {
    justify-content: center;
    flex-basis: 20%;
}

.navbar__links {
    width: 7rem;
    position: relative;
}


.navbar__links::before {
    content: "";
    bottom: 0;
    width: 50%;
    border-bottom: 4px solid rgb(66, 66, 66);
    position: absolute;
    border-radius: 100px;
    transition: width ease-out 0.25s;
}

.navbar__links:hover::before {
    width: 100%;
}

.navbar__links::after {
    content: "";
    bottom: 0;
    width: 50%;
    position: absolute;
    height: 100%;
    transition: ease-out 0.25s;
}

.navbar__links:hover::after {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
}
/* New Navbar */
.banner__nav {
    display: flex;
    justify-content: space-between;
}

.banner__logo {
    width: 11rem;
    padding: 1rem;
}

.banner__linksholder {
    margin: auto;
}

.banner__links {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    margin: 0 2.5rem;
    position: relative;
}

.banner__links:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width ease-in-out 0.25s;
}

.banner__links:hover:before {
    width: 100%;
}

.banner__socialsholder {
    width: 11rem;
    justify-content: center;
    margin-top: 5px;
}

.banner__sociallinks {
    margin: 0 10px;
}

/* Footer Section */