@import url(fonts.css);
@import url(colors.css);
/* CSS file to add classes that will be used in all HTML pages, like Navbar, Footer */

* {
    margin: 0;
    color: black;
    text-decoration: none;
    font-family: Outfit, Faruma;
}

body {
    overflow: none;
}

/* Some Quick classes for usually re-used things */
.flex-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-parent-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.--center {
    justify-content: center;
    align-items: center;
}

.--spacebetween {
    justify-content: space-between;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.--dhivehi {
    direction: rtl;
}

.--graytext {
    color: gray;
}
.--capitalize{
    text-transform: capitalize;
}
/* ----------------------- */
/* Navbar */

.banner__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.banner__nav.--colored {
    background: linear-gradient(270deg, #E01E37 0%, rgba(240, 82, 108, 0.909994) 92.79%, rgba(255, 133, 161, 0.82) 100%);

}

.banner__logo {
    width: 11rem;
    padding: 1rem;
}

.banner__linksholder {
    margin: auto;
    display: flex;
}

.banner__links,
.banner__dropdownlink {
    font-size: 1.1rem;
    color: white;
    margin: 0 2.5rem;
    cursor: pointer;
    position: relative;
}

.banner__links:before,
.banner__links:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width ease-in-out 0.25s;
}

.banner__links:before {
    left: 50%;
}

.banner__links:after {
    right: 50%;
}

.banner__links:hover:before,
.banner__links:hover:after {
    width: 50%;
}


.banner__socialsholder {
    width: 11rem;
    justify-content: center;
    margin-top: 5px;
}

.banner__sociallinks {
    margin: 0 10px;
}

.banner__menuicon {
    width: 2rem;
    cursor: pointer;
    display: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 1rem;
}

.dropdown-content a {
    color: black;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #f9f9f9;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}





.close__button {
    position: absolute;
    top: 0;
    right: 10px;
    color: #f1f1f1;
    font-size: 30px;
    transition: 0.3s;
}

.close__button:hover,
.close__button:focus {
    color: #bbb;
    cursor: pointer;
}

#sidemenu--area {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.507);
    width: 20%;
    height: 100%;
    display: none;
    z-index: 100;
    top: 0;
}

.darkside {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
}

.sidemenu {
    position: fixed;
    right: 0;
    background-color: rgb(172, 38, 38);

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
}

.sidemenu__logo {
    width: 7rem;
    margin: 2rem 0 2rem 1rem;
}

.sidemenu__linksholder {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
}

.sidemenu__links {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
    position: relative;
    width: 100%;
}

.sidemenu__socialsholder {
    margin-left: 1rem;
}

.sidemenu__sociallinks {
    margin-right: 0.5rem;
}

.darken__filter:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

/* Footer */
#footer {
    display: grid;
    padding: 0 7.5% 2rem 7.5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    position: relative;
    background-color: rgb(240, 139, 139);
}

.footer__line {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(190, 51, 51);
    height: 10px;
}

.footer__title {
    font-family: Outfit Bold;
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: center;
}

.contacts__holder {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    align-items: center;
}

.additionallinks__holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__group {
    height: 100%;
}

.footer__link {
    margin: 0 1rem;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    display: flex;

}

.links__verticaline {
    width: 5px;
    height: 100%;
    background-color: rgb(165, 44, 44);
    border-radius: 12px;
}

.followus__holder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Dropdown */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu {
    width: 100%;
}

#cssmenu ul ul {
    display: none;
}

/* First level */
#cssmenu>ul>li>a {
    cursor: pointer;
    margin-bottom: 1.8rem;
    z-index: 2;
    text-decoration: none;
    color: white;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
/* Second level */
#cssmenu.--resources>ul>li>ul>li>a {
    text-decoration: none;
}
#cssmenu>ul>li.active>ul {
    display: block;
}
#cssmenu ul li ul li {
    color: wheat;
    display: list-item;
    margin-left: 2rem;
    margin-bottom: 1.8rem;
    list-style-type: style hol;
}

#cssmenu ul ul li a {
    cursor: pointer;
    z-index: 2;
    color: white;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}




/* ------------ */
@media (max-width:1050px) {

    .banner__links,
    .banner__dropdownlink {
        font-size: 1rem;
        margin: 0 1.5rem;
    }

    .banner__links:before {
        height: 1px;

    }

    .banner__logo {
        width: 10rem;
        padding: 0.8rem;
    }

    .banner__socialsholder {
        width: 10rem;
    }

    .banner__sociallinks {
        scale: 0.9;
    }
}

@media (max-width:800px) {


    .banner__linksholder {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        margin-right: 1rem;
        width: 100%;
    }

    .banner__logo {
        width: 8rem;
    }


    .banner__socialsholder {
        display: none;
    }

    .additionallinks__holder,
    .footer__title:nth-of-type(2) {
        display: none;
    }

    #footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:650px) {
    .banner__linksholder {
        display: none;
    }

    .banner__menuicon {
        display: inline-block;
        margin-right: 2rem;
    }
}

@media (max-width: 525px) {
    #footer {
        display: grid;
        padding: 0 7.5% 2rem 7.5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }

    .contacts__holder {
        grid-row: 2 / 3;
    }

    .footer__title {
        text-align: left;
    }

    .followus__holder {
        grid-template-columns: repeat(2, auto);
        justify-content: left;
        gap: 1rem;
    }

    .footer__link {
        margin-left: 0;
        gap: 1rem;
        align-items: center;
        display: flex;

    }


}